<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow unmsm-header" style="height: 100px;">
    <div class="container">
      <a class="navbar-brand fw-bold fs-5" href="/">Generador de tickets</a>
  
      <!-- Botón hamburguesa -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Contenido del menú -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link fw-semibold">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#instructions" class="nav-link fw-semibold">¿Cómo funciona?</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
